# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# Caches & temporary data
cache/
.cache/

# OS artifacts
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo
